#footer {
	background-color: white;
	background-image: radial-gradient(transparent 50%, rgba(128,128,128,0.5) 100%);
}

#bio-container {
	padding: 20px;
	text-align: center;
}

#bio-title {
	font-family: Roboto-Bold;
	font-size: 24pt;
	position: relative;
}

#bio-divider {
	position: relative;
	width: 225px;
	color: black;
	background-color: black;
}

#bio-text {	
	position: relative;
	width: 90%;
	left: 5%;
	padding-top: 10px;
	padding-bottom: 25px;
	font-family: Roboto-Light;
	font-size: 22pt;
}

#interests-container {
	position: relative;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
}

.single-interest-container {
	text-align: center;
	display: inline-block;
}

.interest-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 1px;
}

.interest-text {
	font-family: Roboto-Light;
	font-size: 22pt;
}

.link-style:link {
	text-decoration: none;
	color: black;
}

.link-style:visited {
	text-decoration: none;
	color: black;
}

.link-style:hover {
	text-decoration: underline;
	color: black;
}