#intro-container {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
}

#intro-name {
	font-family: Roboto-Bold;
	text-align: center;
	color: white;
	font-size: 55pt;
}

#intro-divider {
	width: 62.5%;
	margin-top: 10px;
	margin-bottom: 20px; 
}

#intro-text {
	font-family: Roboto-Light;
	text-align: center;
	color: white;
	font-size: 22pt;
}

#intro-resume-button-container {
	width: 100%;
	text-align: center;
}

#intro-resume-button {
	font-family: Roboto-Regular;
	margin-top: 20px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	padding: 6px 26px;
	font-size: 16pt;
	transition-duration: .4s;
	cursor: pointer;
}

#intro-resume-button:hover {
	background-color: white;
	color: black;
}