#scroll-down-arrow-container {
  position:absolute;
  width:56px;
  height:56px;
  margin-left:-28px;
  bottom:10px;
  left:50%;
}

#scroll-down-arrow {
  position: relative;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  transition: opacity .25s;
}

#scroll-down-arrow:hover {
  opacity: .5;
  cursor: pointer;
}

#scroll-down-arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}